.Header
{
    border : black;
    background: grey ;
    color: red;
    text-align: center;    
}
.Links
{
    display: flex;
    justify-content: space-around ;
}
.pics
{
    border: black
}